#titlebar {
  top: 0;
  left: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  width: calc(100% - 2px);
  /*Compensate for body 1px border*/
  backdrop-filter: brightness(50%);
  color: white;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  text-align: center;
}

#drag-region {
  -webkit-app-region: drag;
}

#drag-region, #close-buttons {
  display: inline-block;
}

#close-buttons {
  user-select: none;
  margin-right: 1em;
  float: right;
  text-align: right;
}

#close-buttons>*:hover {
  background: rgba(0, 0, 0, 0.1)
}

#close-buttons>* {
  padding: 3px;
}

body {
  margin: 2em;
  background: url(beagle.png);
  background-size: cover;
  height: 100vh;
}